Host raspberrypi*
    HostName raspberrypi.miki725.net
    User pi

Host pfsense*
    User admin

Host mercury* venus* earth* unifi*
    User root
    # ForwardX11 yes
    # XAuthLocation /opt/X11/bin/xauth
    ForwardAgent yes
    RemoteForward /run/user/0/gnupg/S.gpg-agent ${HOME}/.gnupg/S.gpg-agent.extra
    RemoteCommand fish --login --interactive
    RequestTTY yes

Host *-jump
    ProxyCommand ssh raspberrypi.miki725.net -W $(echo %h | rev | cut -d- -f2- | rev).miki725.net:%p
