Host raspberrypi*
    HostName raspberrypi.miki725.net
    User pi

Host pfsense*
    User admin

Host mercury* venus* earth*
    User root
    # ForwardX11 yes
    # XAuthLocation /opt/X11/bin/xauth
    ForwardAgent yes
    RemoteForward /run/user/0/gnupg/S.gpg-agent ${HOME}/.gnupg/S.gpg-agent
    # RemoteCommand fish --login --interactive
    RequestTTY yes
