Host raspberrypi
   HostName raspberrypi.miki725.net
   User pi

Host pfsense
   HostName pfsense.miki725.net
   User admin

Host mercury*
   HostName mercury.miki725.net
   User root

Host mercury-jump
   ProxyCommand ssh raspberrypi -W %h:%p

Host venus*
   HostName venus.miki725.net
   User root

Host venus-jump
   ProxyCommand ssh raspberrypi -W %h:%p

Host unifi
    HostName unifi.miki725.net
    User root
