[user]
    name = Miroslav Shubernetskiy
    email = miroslav@miki725.com
[include]
    path = .gitconfig.user
    path = .gitconfig.diff
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
    add-unmerged = "!git add `git diff --name-only --diff-filter=U`"
    amend = "!git commit -a --amend"
    amendp = "!git amend && git pushf"
    ammend = "!git amend"
    ammendp = "!git amendp"
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    branches = "!git branch --format='%(refname:lstrip=2)'"
    branches-clean = "!git branch --merged | grep -E -v \"(^\\*|master|main|dev)\" | xargs --no-run-if-empty git branch -d"
    branches-rebase = "!for i in $(git branches); do git rebase `git main-branch` $i || git rebase --abort; done;"
    cdiff = "!git diff --cached"
    edit-unmerged = "!$EDITOR -p `git diff --name-only --diff-filter=U`"
    fetch-prune = "!git fetch --all --prune"
    latest = "!git checkout `git main-branch` && git fetch-prune && git rebase origin/`git main-branch` && git branches-clean"
    log-merges = "!git log --first-parent --pretty='format:%aD    %h    %an    %s'"
    main-branch = "!git branches | grep -P '^main|master$' | sort | tail -n1"
    pullf = "!git fetch && git reset --hard origin/`git branch-name`"
    pushf = "!git push origin +`git branch-name`"
    pushu = "!git push origin `git branch-name` -u"
    renew = "!git fetch-prune && git rebase origin/`git branch-name`"
    undo = "!git reset --soft HEAD~1"
    update = "!git fetch-prune && git rebase origin/`git main-branch`"
[rerere]
    enabled = true
[diff]
    noprefix = true
[pull]
    rebase = false
[init]
    templateDir = ~/.git-template
	defaultBranch = main
[commit]
    template = ~/.gitcommit
