[user]
	name = Miroslav Shubernetskiy
	email = miroslav@miki725.com
	signingkey = 2850F7E59914A698
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[alias]
	edit-unmerged = "!$EDITOR `git diff --name-only --diff-filter=U`"
	add-unmerged = "!git add `git diff --name-only --diff-filter=U`"
    branch-clean = "!git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d"
