[user]
    name = Miroslav Shubernetskiy
    email = miroslav@miki725.com
    signingkey = 2850F7E59914A698
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[gpg]
    program = /usr/local/bin/gpg
[commit]
    gpgsign = true
[alias]
    add-unmerged = "!git add `git diff --name-only --diff-filter=U`"
    branch-clean = "!git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs --no-run-if-empty git branch -d"
    cdiff = "!git diff --cached"
    edit-unmerged = "!$EDITOR `git diff --name-only --diff-filter=U`"
    latest = "!git checkout master && git fetch --prune && git rebase origin/master && git branch-clean"
    pushu = "!git push origin $(git rev-parse --abbrev-ref HEAD) -u"
    undo = "!git reset --soft HEAD~1"
    update = "!git fetch --prune && git rebase origin/master"
